include ../_mixins/pagebreak.pug

block config
  - const metaDefault = { lang: 'en-US', publisher: 'Publishing company' };
  //- extract head variables
  - let { lang, title } = Object.assign({}, metaDefault, metadata);


block root
  doctype strict
  html(xmlns='http://www.w3.org/1999/xhtml', xmlns:epub='http://www.idpf.org/2007/ops', lang=lang)
    block head
      head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        block metadata
          if (navTitle)
            meta(name='description', content=navTitle)
        block stylesheets

    block body
      - const bodyId = (index) ? index : null;
      body(class=bodyClass, id=bodyId, data-linear=linear)
        block page
